:root{
    --success: #088f31;
    --danger: #d83c2a;
    --warning: #f3e73b;
}

*{
    transition: all 0.5s ease;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #e4e4e4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

[placeholder]{
    color: #555;
}

input, textarea {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px #555;
    padding: 10px;
    font-size: 16px;
}

input:focus, textarea:focus {
    background: white;
    box-shadow: none;
    color: black;
}

button{
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: orangered;
    box-shadow: 4px 8px 8px -6px rgb(2, 1, 59);
    color: white;
}

button:hover {
    letter-spacing: 2px;
    box-shadow: none;
}

#message{
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin-bottom: 2%;
    width: 60%;
}