<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet</title>
    <link rel="stylesheet" href="./asset/css/footer.css">
</head>
<body>
    <footer>
        <div id="logo-copy"><img src="./asset/image/logo.svg" alt="Logo"></div>

        <div id="infos">
            <div id="about">
                <p class="section-title">A propos</p>
                <hr class="section-hr">
                <div class="section-links">
                    <a class="link" href="">Qui sommes nous ?</a>
                </div>
            </div>

            <div id="legal">
                <p class="section-title">Informations légales</p>
                <hr class="section-hr">
                <div class="section-links">
                    <a class="link" href="">CGU</a>
                    <a class="link" href="">Vie privée</a>
                </div>
            </div>

            <div id="help">
                <p class="section-title">Des questions</p>
                <hr class="section-hr">
                <div class="section-links">
                    <a class="link" href="">Aide</a>
                    <a class="link" href="/newlife/contacter">Nous contacter</a>
                </div>
            </div>
        </div>

        <hr id="social">

        <div id="reseaux">
            <div id="follow">Suivez-nous</div>
            <div id="social-medias">
                <a id="facebook" href=""><img src="https://img.icons8.com/color/60/null/facebook-circled--v1.png"/></a>
                <a id="twitter" href=""><img src="https://img.icons8.com/color/60/null/twitter--v1.png"/></a>
                <a id="instagram" href=""><img src="https://img.icons8.com/3d-fluency/60/null/instagram-new.png"/></a>
            </div>
        </div>
    </footer>
</body>
</html>