<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet</title>
    <link rel="stylesheet" href="./asset/css/header.css">
</head>
<body>
    <header>
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
                <a class="nav-title" href="/newlife/">
                    <img src="./asset/image/logo.svg" alt="Logo">
                </a>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
                </label>
            </div>
            
            <div class="nav-links">
                <a href="/newlife/deposer-annonce">Déposer annonce</a>
                <a href="">Historique</a>
                <a href="">Favoris</a>
                <a href="">Messages</a>
                <a href="/newlife/mon-compte">Compte</a>
                <a href="/newlife/connexion">Connexion</a>
            </div>

        </div>
    </header>
</body>
</html>