<!-- Mail de contact -->
<!-- <body style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
    <h3>Demande de contact</h3>
    <section>
        <p>
            Message de : [Nom] - [adresse e-mail]
        </p>
        <p>
            [Message]
        </p>
        <p>
            Cordialement,<br>
            [Nom]
        </p>
    </section>
</body>
</html> -->


<!-- Mail de confirmation -->
<!-- <body style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
    <h3>Compte NewLife</h3>
    <section>
        <p>
            Bonjour [name],<br>
            Merci d’avoir rejoint NewLife. 
        </p>
        <p>
            Nous aimerions vous confirmer que votre compte a été créé avec succès. 
            Pour accéder au portail client, cliquez sur le lien ci-dessous.
        </p>
        <p><a href="http://localhost/newlife/connexion?user=[token]">Lien de confirmation</a></p>
        <p>
            Si vous rencontrez des difficultés pour vous connecter à votre compte, 
            contactez-nous à [adresse e-mail].
        </p>
        <p>
            Cordialement,<br>
            L’équipe de NewLife
        </p>
    </section>
</body> -->



<!-- Mail de reinitialisation du mot de passe -->
<!-- <body style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
    <h3>Réinitialisation du mot de passe</h3>
    <h3>Compte NewLife</h3>
    <section id="corp">
        <p>
            Bonjour [name],
        </p>
        <p>
            Il semblerai que vous avez oublier votre mot de passe.
            Merci de suivre le lien ci-dessous pour réinitialiser votre mot de passe.
        </p>
        <p><a href="http://localhost/newlife/connexion?user=[token]">Lien de réinitialisation</a></p>
        <p>
            Si vous rencontrez des difficultés pour vous connecter à votre compte, 
            contactez-nous à [adresse e-mail].
        </p>
        <p>
            Cordialement,<br>
            L’équipe de NewLife
        </p>
    </section>
</body> -->