<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet</title>
    <link rel="stylesheet" href="./asset/css/index.css">
    <style>
        #container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            margin: auto;
            text-align: center;
            font-size: larger;
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <div id="container">
       <img src="https://img.icons8.com/ios-filled/100/null/project-setup--v1.png"/>
       <p>Cette page n'est pas accessible !</p>
    </div>
</body>
</html>