<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet</title>
    <!-- lien cdn pour les icons font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="./asset/css/compte.css">
</head>
<body>
    <div id="container">
        <a class="card" href="/newlife/mes-annonces">
            <img src="https://img.icons8.com/ios-filled/100/null/document--v1.png"/>
            <div class="text">
                <p class="titre">Annonces</p>
                <p>Gérer mes annonces</p>
            </div>
        </a>

        <a class="card" href="">
            <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/100/null/external-euro-banking-and-finance-kiranshastry-lineal-kiranshastry-1.png"/>
            <div class="text">
                <p class="titre">Transactions</p>
                <p>Achats et ventes</p>
            </div> 
        </a>

        <a class="card" href="">
            <img src="https://img.icons8.com/pastel-glyph/100/null/graph--v2.png"/>
            <div class="text">
                <p class="titre">Statistiques</p>
                <p>Voir mes statistiques</p>
            </div>
        </a>

        <a class="card" href="/newlife/profil">
            <img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/100/null/external-user-interface-kiranshastry-solid-kiranshastry.png"/>
            <div class="text">
                <p class="titre">Profil</p>
                <p>Gérer mon profil</p>
            </div>
        </a>

        <a class="card" href="">
            <img src="https://img.icons8.com/external-others-inmotus-design/100/null/external-Settings-round-icons-others-inmotus-design-37.png"/>
            <div class="text">
                <p class="titre">Paremètres</p>
                <p>Reglages et Préférences</p>
            </div>
        </a>

        <a class="card" href="/newlife/nouveau-mot-de-passe">
            <img src="https://img.icons8.com/pastel-glyph/100/null/security-shield.png"/>
            <div class="text">
                <p class="titre">Connexion et Sécurité</p>
                <p>Modifier mon mot de passe</p>
            </div>
        </a>
    </div>
</body>
</html>